<%- include('header') -%>
<body>
    <div class="box" id="heading">
        <h1><%=currentDate%></h1>
    </div>
    <div class="box">
            <% newItems.forEach(el => { %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= el.toDo  %> </p>
                </div>
            <%})%>
            
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autocapitalize="on">
            <button type="submit">+</button>
        </form>
    </div>
</body>
<%- include('footer') -%>